<!DOCTYPE HTML>
<html>
<head>

    <title>HeartKid R2R</title>
 <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="asset/css/style.css"> <!-- Resource style -->
    <script src="../asset/js/modernizr.js"></script>
    <script src="asset/js/angular1.2.2.js"></script>
    <script src="asset/js/angular-ui-router.min.js"></script>
    <script src="asset/js/jquery-2.1.1.js"></script>
    <script src="asset/js/main.js"></script> <!-- Resource jQuery -->
    <script src="../app.js"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        .fit { /* set relative picture size */
            max-width: 100%;
            max-height: 100%;
        }
        .center {
            display: block;
            margin: auto;
        }
        #container{ position:relative;}

        #container imglogo{
            /* Set rules to fill background */
            /* min-height: 100%;
             min-width: 1920px;
             /* Set up proportionate scaling */
            /* width: 100%;
             height: auto;
             /* Set up positioning */
            /*position: fixed;*/
            background-color: white;
            color: rgba(0, 0, 0, 0.5);
            position: relative;
            pointer-events: none; /* <-- this line is added */

        }

    </style>
    <!-- <script type="text/javascript" language="JavaScript">
         function set_body_height() { // set body height = window height
             $('body').height($(window).height());
         }
         $(document).ready(function() {
             $(window).bind('resize', set_body_height);
             set_body_height();
         });
     </script>-->
</head>

<body class="landing" ng-app="formApp">
<header class="cd-header">
		<div id="cd-logo"><a href="http://www.heartkids.org.au"><img src="images/heart_kidslogo1.png" alt="Logo" data-pin-nopin="true"></a></div>
    <h4 style="text-align: right; margin-right: 0.9%; color: orange; font-weight: bold">Survey Participants: <strong>00{{regcount}}</strong></h4>
		<nav class="cd-primary-nav">
			<ul>
				<li><a href="http://www.heartkids.org.au">Home</a></li>
				<li><a href="#0">Disclaimer</a></li>
				<li><a href="#0">Contact Us</a></li>
			</ul>
		</nav> <!-- .cd-primary-nav -->
	</header>
<!-- Page Wrapper -->
<div id="page-wrapper">

    <section class="cd-hero">
        <ul class="cd-hero-slider autoplay">
            <li class="selected">
                <div class="cd-full-width">
                    <p>Most people now</p>
                    <h2>Survive Surgery</h2>
                    <p>live for many years</p>
                    <a href="#survey-block" class="cd-btn secondary">Learn More</a>
                </div> <!-- .cd-full-width -->
            </li>

            <li>
                <div class="cd-full-width">
                    <p>Surgical techniques have allowed for</p>
                    <h2>improved survival</h2>
                    <p>for most CHD patients</p>
                </div> <!-- .cd-full-width -->
            </li>

            <li>
                <div class="cd-full-width">
                    <p>We want to find you</p>
                    <h2>Help Us help you</h2>
                    <p>Make your voice count</p>

                </div> <!-- .cd-full-width -->

            </li>

            <li>
                <div class="cd-full-width">
                    <p>Most people now</p>
                    <h2>Survive Surgery</h2>
                    <p>live many years</p>
                    <a href="#survey-block" class="cd-btn secondary">Learn More</a>
                </div> <!-- .cd-full-width -->
            </li>

            <li>
                <div class="cd-full-width">
                    <p>Most people now</p>
                    <h2>Survive Surgery</h2>
                    <p>live many years</p>
                    <a href="#survey-block" class="cd-btn secondary">Learn More</a>
                </div> <!-- .cd-full-width -->
            </li>
        </ul> <!-- .cd-hero-slider -->

        <div class="cd-slider-nav">
            <nav>
                <span class="cd-marker item-1"></span>

                <ul>
                    <li class="selected"><a href="#0">Intro</a></li>
                    <li><a href="#0">Maddison</a></li>
                    <li><a href="#0">Tina</a></li>
                    <li><a href="#0">Matt</a></li>
                    <li><a href="#0">Sara</a></li>
                </ul>
            </nav>
        </div> <!-- .cd-slider-nav -->
    </section> <!-- .cd-hero -->
	<section class="wrapper alt style2">
        <section class="spotlight">
            <div class="image">
                <h2>WHAT WE DO</h2>
                <p>Australian CHD Research Consortium brings you "Register to be Registered" For the first time ever there are now more adults than Children living with a congenital heart condition. The fantastic success in surgery of the last two decades give us hope and we need to understand more about you now more than ever before! </p>
            </div>
            <div class="image">
                <h2>HOW YOU CAN HELP</h2>
                <p>Improved surgical techniques have allowed fantastic survival and Quality of Life for most CHD patients. Therefore, we are now finding MORE ADULTS living with CHD that ever in history. The NEEDS OF ALL PATIETNTS with CHD are important and this program is designed to understand your needs better.</p>
            </div>
        </section>
    </section>
	
	
	<section class="sectionThree ">
		<section class="features"><h2>Please Select Who you Are?</h2></section>
        <section class="spotlight">
            <div class="image">
                <h2>CARER</h2>
				<div class="imageContainer" ui-sref="form.profile" class="button special" ng-click="proceedtosurvey('Carer')"><img src="images/Carer.png" style='width:50%;'></div>
				<div class="textContainer">
					<p>Are you Carer?</p><p>(An adult who cares a child or adult with a congential condition)</p>
					<div><a ui-sref="form.profile" class="button special" ng-click="proceedtosurvey('Carer')">Proceed to survey&nbsp;&nbsp;&nbsp;&nbsp;></a></div>
				</div>
            </div>
			<div class="image">
                <h2>PATIENT</h2>
				<div class="imageContainer" ui-sref="form.profile" ng-click="proceedtosurvey('Patient')"><img src="images/Patient.png" style='width:50%;'></div>
				<div class="textContainer">
					<p>Are you a HeartKid?</p><p>(An child or adult with a congential heart condition)</p>
					<div><a ui-sref="form.profile" class="button special" ng-click="proceedtosurvey('Patient')">Proceed to survey&nbsp;&nbsp;&nbsp;&nbsp;></a></div>
				</div>				
            </div>
        </section>
    </section>

    <!-- Footer -->
    <div ng-include="'footer.html'"></div>
</div>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->


</body>
</html>
